@font-face {
  font-family: "iconfont"; /* Project id 4629692 */
  src: url('iconfont.woff2?t=1724056093494') format('woff2'),
       url('iconfont.woff?t=1724056093494') format('woff'),
       url('iconfont.ttf?t=1724056093494') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suoxiao:before {
  content: "\e63b";
}

.icon-fangda:before {
  content: "\e61a";
}

.icon-ceju:before {
  content: "\e9f0";
}

.icon-fuwei:before {
  content: "\e600";
}

.icon-dianyuankaiguan:before {
  content: "\e628";
}

.icon-zhuzhuangtu:before {
  content: "\e929";
}

.icon-zhimingdafengche:before {
  content: "\e604";
}

